@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    45deg,
    hsl(240deg 100% 1%) 14%,
    hsl(263deg 59% 14%) 81%,
    hsl(286deg 78% 23%) 98%,
    hsl(292deg 80% 38%) 101%
  ) no-repeat center center fixed;
  height: 100%;
}

html {
  height: 100%;
}

.unauthorized {
  height: 100%;
}